.Button,
.ButtonContainer,
.TextContainer {
  position: relative;
}

.ButtonContainer,
.TextContainer {
  display: flex;
}

.Logo {
  display: flex;
  height: 50px;
  width: 400px;
  margin: 0 auto;
}

.Input {
  top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
}

.Button {
  font-size: 21px;
  height: 30px;
  width: 250px;
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.3);
}

.ButtonContainer {
  top: 30px;
  justify-content: center;
}

.ForgotPassword,
.CreateAnAccount {
  top: 45px;
  font-size: 13px;
  color: white;
  position: relative;
  text-decoration: none;
}

.ForgotPassword {
  margin: 0 40px;
}

.CreateAnAccount {
  margin: 0 40px;
}

.TextContainer {
  justify-content: center;
}
