.Logo {
    position: relative;
    display: flex;
    height: 200px;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
}

.Input {
    position: relative;
    display: flex;
    justify-content: center;
}