.Main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06212D;
}

.Logo {
    position: relative;
    right: 130px;
    height: 25px;
    width: 175px;
    padding: 12px 10px 7px;
}

.Home {
    right: 60px;
    position: relative;
    color: white;
    height: 20px;
    text-decoration: none;
}

.Container1 {
    position: relative;
    right: 120px;
}

.Container2 {
    position: relative;
    left: 30px;
}