.MainContainer,
.UiContainer,
.Text,
.AlreadyHaveAccount,
.SignIn,
.Button,
.Agreement {
  position: relative;
}

.MainContainer,
.UiContainer,
.Text,
.AlreadyHaveAccount,
.SignIn,
.Form {
  display: flex;
}

.MainContainer {
  width: 100vw;
  top: 200px;
  left: -50px;
  align-items: center;
  justify-content: center;
}

.UiContainer {
  top: -50px;
  left: 50px;
  flex-direction: column;
}

.Text {
  top: -5px;
  font-size: 25px;
  color: white;
  justify-content: center;
}

.Form {
  justify-content: center;
}

.Button {
  top: 15px;
  padding: 0px 0px;
  font-size: 21px;
  height: 30px;
  width: 240px;
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.3);
  margin: 0 auto;
}

.Agreement {
  top: 5px;
  font-size: 10px;
  color: white;
}

.AlreadyHaveAccount {
  top: 25px;
  font-size: 10px;
  color: white;
  justify-content: center;
}

.SignIn {
  top: 30px;
  font-size: 10px;
  justify-content: center;
}
