.SideImage {
    top: 30%;
    left: 20%;
    min-width: 200px;
    position: absolute;
}

.Form {
  position: absolute;
  top: 30%;
  left: 54%;
}

@media (max-width: 1750px) {
    .SideImage {
      left: 235px;
    }
}