.MainContainer,
.UiContainer,
.Text,
.AlreadyHaveAccount,
.SignIn,
.Button,
.Agreement {
  position: relative;
}

.MainContainer,
.UiContainer,
.Text,
.AlreadyHaveAccount,
.SignIn,
.Form {
  display: flex;
}

.MainContainer {
  width: 100vw;
  top: 120px;
  left: -50px;
  align-items: center;
  justify-content: center;
}

.UiContainer {
  top: -50px;
  left: 50px;
  flex-direction: column;
}

.Text {
  top: -5px;
  font-size: 25px;
  color: white;
  justify-content: center;
}

.Form {
  justify-content: center;
}
