.NavItemContainer {
    margin: 0 20px;
}

.NavigationItem {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}