.Input {
  position: relative;
  display: flex;
  top: -40px;
  padding: 10px 0;
  justify-items: center;
  flex-direction: column;
}

.InputElement {
  margin: 0 auto;
  text-indent: 10px;
  
  height: 28px;
  width: 500px;
  border-radius: 13px;
  border-width: 1px;
  border-color: white;
  background-color: rgb(255, 255, 255, 0.9);
  color: rgb(100, 100, 100);
}

.InputElement2 {
  margin: 0 auto;
  text-indent: 10px;
  padding: 10px;
  height: 200px;
  border-radius: 13px;
  border-width: 1px;
  border-color: white;
  background-color: rgb(255, 255, 255, 0.9);
  color: rgb(100, 100, 100);
}

.InputElement:focus {
  background-color: rgb(255, 255, 255, 1);
  border: 1px solid rgb(0, 0, 0);
}

.Invalid {
  border: 1px solid red;
}

.InvalidMessage {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-items: center;
  color: red;
  left: 35px;
  width: 240px;
}
