.MainContainer {
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;
  top: 100px;
}

.SideImage {
  display: flex;
  position: relative;
  left: 20px;
}

.UiContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  left: -20px;
}

.Slogan {
  position: relative;
  margin: 0 auto;
  top: -80px;
  font-size: 30px;
  font-family: "Economica", sans-serif;
  color: white;
}

.Button {
  position: relative;
  top: -30px;
  margin: 0 auto;
}

.Line, .Line2 {
  position: relative;
  width: 112px;
  height: 47px;
  top: -15px;
  border-bottom: 1px solid white;
}

.Line {
  left: -20px;
}

.Line2 {
  left: 20px;
}

.ORContainer {
  display: flex;
  justify-content: center;
}

.OR,
.GetApp {
  position: relative;
  text-align: center;
  top: 20px;
  color: white;
}

.GetApp {
  position: relative;
  top: 20px;
}

.IconContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Apple,
.GooglePlay {
  position: relative;
  top: 50px;
  margin: 0 20px;
}

@media (max-width: 1000px) {
  .SideImage {
    left: 935px;
  }

  .UiContainer {
    left: 347px;
  }
}