.SideImage,
.UiContainer,
.Slogan,
.Button,
.Line,
.Line2 {
  position: absolute;
}

.SideImage {
  top: 20%;
  left: 54%;
  min-width: 200px;
}

.UiContainer {
  top: 20%;
  left: 20%;
}

.Slogan {
  top: 63%;
  left: 15%;
  font-size: 30px;
  font-family: "Economica", sans-serif;
  color: white;
}

.Button {
  top: 85%;
  left: 26%;
  text-align: center;
}

.Line, .Line2 {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid white;
}

.Line {
  top: 329px;
  left: 22%;

}

.Line2 {
  top: 329px;
  left: 57%;
}

.OR,
.GetApp {
  top: 60px;
  position: relative;
  text-align: center;
  color: white;
}

.GetApp {
  top: 75px;
}

.Apple,
.GooglePlay {
  top: 130%;
  position: absolute;
}

.Apple {
  left: 10%;
}

.GooglePlay {
  left: 55%;
}

@media (max-width: 1750px) {
  .SideImage {
    left: 935px;
  }

  .UiContainer {
    left: 347px;
  }
}