.SideImage,
.UiContainer,
.Slogan,
.Button,
.Line,
.Line2 {
  position: absolute;
}

.SideImage {
  top: 20%;
  left: 50%;
  min-width: 600px;
}

.UiContainer {
  top: 20%;
  left: 17%;
}

.Slogan {
  top: 63%;
  left: 15%;
  font-size: 30px;
  font-family: "Economica", sans-serif;
  color: white;
}

.Button {
  text-align: center;
  top: 85%;
  left: 26%;
}

.Line {
  top: 329px;
  left: 22%;
  width: 112px;
  height: 47px;
  border-bottom: 1px solid white;
}

.OR,
.GetApp {
  color: white;
  top: 60px;
  position: relative;
  text-align: center;
}

.Line2 {
  top: 329px;
  left: 57%;
  width: 112px;
  height: 47px;
  border-bottom: 1px solid white;
}

.GetApp {
  top: 75px;
}

.Apple,
.GooglePlay {
  top: 130%;
  position: absolute;
}

.Apple {
  left: 10%;
}

.GooglePlay {
  left: 55%;
}
