.Searchbar {
  background: url(../../../../assets/images/magnifyglass.ico) 7px no-repeat;
  background-size: 20px;
  text-indent: 32px;
  height: 28px;
  width: 250px;
  border-radius: 13px;
  border-width: 1px;
  border-color: white;
  background-color: rgb(255, 255, 255, 0.3);
  color: white;
  margin: 0px 20px;
}

.Searchbar:hover,
.Searchbar:focus {
  background-color: rgb(255, 255, 255, 0.4);
}
