.Main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06212D;
    height: 45px;
}

.LeftToolbar {
    position: relative;
    display: flex;
    align-items: center;
}

.Logo {
    position: relative;
    margin: 0 18px;
    height: 25px;
    top: 3px;
    width: 175px;
}

.Logo:hover {
    filter: drop-shadow(1px 1px 8px rgba(0, 0, 0, 0.8));
}

.Home {
    position: relative;
    color: white;
    height: 20px;
    text-decoration: none;
}

.Home:hover {
    filter: drop-shadow(1px 1px 8px rgba(0, 0, 0, 0.8));
}

.Container1 {
    width: 500px;
}

.Container2 {
    position: relative;
    align-items: center;
    right: 20px;
}