.MainContainer {
    top: 65px;
    position: relative;
    color: white;
  }
  
  .ProjectsStartupsContainer {
    font-size: 35px;
    display: flex;
    justify-content: center;
  }
  
  .Projects {
    right: 20px;
    position: relative;
    color: grey;
    text-decoration: none;
  }
  
  .Startups {
    position: relative;
    left: 20px;
  }
  
  .SecondRowContainer {
    top: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .Filter {
    position: relative;
    right: 200px;
  }
  
  .ViewsContainer {
    left: 55px;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .Cardview,
  .CardviewNotClicked {
    position: relative;
    margin: 0 10px;
    width: 70px;
  }
  
  .CardviewNotClicked {
    cursor: pointer;
  }
  
  
  .Listview,
  .ListviewNotClicked {
    position: relative;
    margin: 0 10px;
    width: 70px;
  }
  
  .ListviewNotClicked {
    cursor: pointer;
  }
  
  .CardViewLine {
    position: relative;
    top: 4px;
    left: -2px;
    width: 70px;
    border-bottom: 1px solid white;
  }
  
  .ListViewLine {
    position: relative;
    top: 4px;
    left: -2px;
    width: 60px;
    border-bottom: 1px solid white;
  }
  
  .RankedBy {
    position: relative;
    left: 200px;
  }