.NavigationItems {
  display: flex;
  white-space: nowrap;
}

.Hide {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2;
  top: -6px;
  height: 15px;
  width: 100%;
  background-color: #06212D;
}

.ProfileContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border: 1px solid grey;
  background: #06212D;
  padding: 5px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  z-index: 4;
}

.ProfileContainer:hover {
  border: 1px solid white;
}

.ProfileClicked {
  border: 1px solid grey;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.UserButtonContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.Drawer {
  position: absolute;
  top: 36px;
  width: 100%;
  z-index: 1;
  transition: transform 0.15s ease-out;
}

.Open {
    transform-origin: top;
    transform: translateY(0);
}

.Close {
    transform-origin:  top;
    transform: translateY(-110%);
}

.ProfilePicture {
  display: flex;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.DownArrow {
  height: 9px;
  width: 9px;
  padding-left: 10px;
}

.Username {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-right: 10px;
}
