.Input {
  position: relative;
  display: flex;
  justify-content: center;
  height: 20px;
  margin: 0 auto;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
}

.SubmitButton {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  height: 25px;
  width: 160px;
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.3);
}

.CancelButton {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  height: 25px;
  width: 120px;
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.3);
}