.Input {
    position: relative;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    top: -40px;
}

.InputElement {
    position: relative;
    display: flex;
    text-indent: 10px;
    height: 28px;
    width: 250px;
    border-radius: 13px;
    border-width: 1px;
    border-color: white;
    background-color: rgb(255, 255, 255, 0.9);
    color: rgb(100, 100, 100);
    justify-content: center;
}

.InputElement:focus {
    background-color: rgb(255, 255, 255, 1);
    border: 1px solid rgb(0, 0, 0);
}

.Invalid {
    border: 1px solid red;
}