.Container,
.Form,
.Button,
.ButtonContainer,
.TextContainer {
  position: relative;
}

.Form,
.ButtonContainer,
.TextContainer {
  display: flex;
}

.Container {
  top: 100px;
}

.Form {
  justify-content: center;
  flex-direction: column;
}

.Button {
  font-size: 21px;
  height: 30px;
  width: 250px;
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.3);
}

.ButtonContainer {
  top: -30px;
  justify-content: center;
}

.ForgotPassword,
.CreateAnAccount {
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.ForgotPassword {
  margin: 0 40px;
}

.CreateAnAccount {
  margin: 0 40px;
}

.TextContainer {
  justify-content: center;
}
