.ProfileContainer {
  position: relative;
  display: flex;
  margin: 0 auto;
  top: 90px;
  background-color: white;
  height: 500px;
  width: 1200px;
}

.CenterColumn {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  top: -50px;
}

.ProfilePicture {
  position: relative;
  margin: 0 auto;
  border: 5px solid white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.Name {
  position: relative;
  margin: 0 auto;
  font-size: 25px;
}

.VerifiedUser {
  margin: 5px auto;
  color: #2390C8;
}

.WorkBiography {
  margin: 0 auto;
}