.Default {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: 25px;
    height: 35px;
    width: 250px;
    background-color: #00A1C1;
    border-radius: 30px;
    border: 0;
    color: white;
}

.Default:hover {
    background-color: rgb(42, 219, 255);
    cursor: pointer;
}

.Default:disabled {
    background-color: rgb(90, 133, 141);
    cursor: not-allowed;
}