.Searchbar {
    background: url(../../assets/images/magnifyglass.png) 6px no-repeat;
    background-size: 20px;
    position: relative;
    top: 47px;
    left: 90px;
    text-indent: 29px;
    height: 28px;
    width: 250px;
    border-radius: 13px;
    border-width: 1px;
    border-color: white;
    background-color: rgb(255, 255, 255, 0.3);
    color: white;
}