.Default {
    text-align: center;
    padding: 5px 0px;
    font-size: 25px;
    margin: auto;
    height: 35px;
    width: 250px;
    background-color: #00A1C1;
    border-radius: 30px;
    color: white;
}

.Default:hover {
    background-color: rgb(42, 219, 255);
    cursor: pointer;
}